nav {
  background-color: #000405;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(106, 129, 41, 0.2);
}

nav h2 {
  margin: 0;
  font-size: 1.5rem;
}

nav a {
  margin-left: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00bcd4;
}